<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
<link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
 <title>Aviato</title>
  </head>
  <body>
    <div>
      <h1>Aviato</h1>
    </div>
    <form action="/result" method="POST">
      <div class="search-form">
        <input type="text" name="name" placeholder="Search..." value="">
        <button type="submit">Create</button>
      </div>
      <div class="search-form">
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme1</label>
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme2</label>
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme3</label>
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme4</label>
      </div>
    </form>
    <img src="{{ url_for('static', filename='images/out.png') }}" height="70%"/>
  </body>
</html>
