<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
<link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 <title>Aviato</title>
  </head>
  <body>
    <div>
      <h1>Aviato</h1>
    </div>
    <form action="/result" method="POST">
      <div class="search-form">
        <input type="text" name="name" placeholder="What's on your mind?" value="">
        <button type="submit">Create</button> <!-- Replace with SVG Icon -->
      </div>
      <div class="search-form">
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme1</label>
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme2</label>
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme3</label>
        <input type="radio" id="Meme" name="theme" value="1">
        <label for="Meme">Meme4</label>
        <!-- Fix Mapping with Wombo API -->
        <!-- Add Favicon -->
      </div>
    </form>
    <img id="picture" src="data:image/jpeg;base64,{{ img_data }}" height="70%">
    <br><br><br>
    <div link rel="stylesheet" href="styles/index.css"> 
      <div class="footer-basic">
        <footer>
            <div class="social">
            Developed by<br><br>
            Kathan Sanghavi 
            <a href="https://github.com/KathanS" >
              <meta name="viewport" content="width=device-width, initial-scale=5">
             <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
             <i class="fab fa-github"></i> </a>
            <a href="https://www.linkedin.com/in/kathan-sanghavi/" >
             <meta name="viewport" contecd nt="width=device-width, initial-scale=5">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
            <i class="fab fa-linkedin"></i>
            </a>
            <br><br>
            Nilay Shah 
            <a href="https://github.com/njshah301" >
             <meta name="viewport" content="width=device-width, initial-scale=5">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
            <i class="fab fa-github"></i>
            </a>
           <a href="https://www.linkedin.com/in/nilay-shah-7610551b8/" >
            <meta name="viewport" content="width=device-width, initial-scale=5">
           <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
           <i class="fab fa-linkedin"></i></a>
            </div>
            <p class="copyright">Aviato © 2022</p>
        </footer>
      </div>
    </div>
  </body>
</html>